

<div class="card mb-4 p-2" id="new-wine" data-aos="zoom-out-right">
   
    <div class="wine-name p-3">
        <a href="/post/{{id}}"> <h4 class="card-title title">{{wine_name}}</h4></a> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="wine-data col">
                <div class="wine-info">
                    <p class="card-text">{{wine_type}}</p>
                    <p class="card-text">{{wine_vintage}}</p>
                    <p class="card-text">{{wine_source}}</p>
                </div>
            </div>
            <div class="wine-notes col me-2 d-flex justify-content-center align-items-center">
                <p class="card-text mx-2">{{wine_notes}}</p>
            </div>
        </div>
        <div class="meta">
                {{wine_count}} {{format_plural "bottle" wine_count}}
        </div>
        <a href="/dashboard/edit/{{id}}" class="edit-link d-flex flex-row-reverse">
            <h3>Edit wine</h3>
        </a>
    </div>

</div>

        


