<div class="card mb-4 p-2" id="new-wine">
    {{!-- <div class="image">
        <img src={{img_url}} class="card-img-top" alt="picture of" + {{wine_name}}>
    </div> --}}
    <div class="wine-name p-3">
        <h4 class="card-title title">{{wine_name}}</h4>
    </div>
    <div class="card-body">
        
            <div class="wine-info">
                <p class="card-text">{{wine_type}}</p>
                <p class="card-text">{{wine_vintage}}</p>
                <p class="card-text">{{wine_source}}</p>
            </div>
            <div class="wine-notes mb-2">
                <p class="card-text mx-2">{{wine_notes}}</p>
            </div>
            <div class="meta">
                    {{wine_count}} {{format_plural "bottle" wine_count}}
            </div>
            <button type="button" class="upcount-btn">Add bottle</button>
        
    </div>
</div>

<script src="/javascript/upcount.js"></script>