<div class="card mb-4 p-2">
    {{!-- <div class="image">
        <img src={{img_url}} class="card-img-top" alt="picture of" + {{wine_name}}>
    </div> --}}
    <div class="wine-name p-3">
        <h4 class="card-title">{{wine_name}}</h4>
    </div>
    <div class="card-body d-flex">
        <div class="flex-wrap">
            <div class="wine-type">
                <p class="card-text">{{wine_type}}</p>
            </div>
            <p class="card-text">{{wine_vintage}}</p>
            <p class="card-text">{{wine_source}}</p>
            {{!-- <p class="card-text">{{wine_quantity}}</p> --}}
        </div>
    </div>
</div>