{{!-- <div class="col-12 col-lg-9 bg-dark p-3">

    <div class="flex-row justify-space-between" id="display-area"></div>
</div> --}}

<div class="container">
    <div class="row d-flex">
      {{#each posts as |post|}}
      <div class="col-6 d-flex">
        <div class="card">
          <img src={{img_url}} class="card-img-top" alt="picture of" + {{wine_name}}>
          <div class="card-body">
            <h5 class="card-title">{{wine_name}}</h5>
            <div class="wine-type">
              <p class="card-text">{{wine_type}}</p><span class={{wine_type}} + "-icon"></span>
            </div>
            <p class="card-text">{{wine_vintage}}</p>
            <p class="card-text">{{wine_source}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</div>