
<div class="container mt-4">
    <div class="row d-flex">
      {{#if posts.length}}
      
      {{#each posts as |post|}}
        <div class="col-6 d-flex justify-content-center">
          <div class="card mb-4 p-2">
            <img src={{img_url}} class="card-img-top" alt="picture of" + {{wine_name}}>
            <div class="card-body">
              <h5 class="card-title">{{wine_name}}</h5>
              <div class="wine-type">
                <p class="card-text">{{wine_type}}</p><span class={{wine_type}} + "-icon"></span>
              </div>
              <p class="card-text">{{wine_vintage}}</p>
              <p class="card-text">{{wine_source}}</p>
            </div>
          </div>
        </div>
      {{/each}}
      
      {{/if}}
    </div>
</div>