<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-wine-form">
    <div class="pt-1">
          <label for="wine-name">Wine Name:</label>
          <input type="text" id="wine-name" name="wine-name" value="{{wine_name}}"/>
      </div>
      <div class="pt-3">
          <label for="type-select">Type of Wine:</label>
          <select name="wine-type" id="wine-type" value="{{wine_type}}">
              <option value="">--Please choose an option--</option>
              <option value="red">Red</option>
              <option value="white">White</option>
              <option value="rose">Rose</option>
              <option value="sparkling">Sparkling</option>
          </select>
      </div>
      <div class="pt-3">
          <label for="vintage">Vintage:</label>
          <input type="text" id="wine-vintage" name="wine-vintage" value="{{wine_vintage}}"/>
      </div>
      <div class="pt-3">
          <label for="source">Source:</label>
          <input type="text" id="wine-source" name="wine-source" value="{{wine_source}}"/>
      </div>
      <div class="pt-3">
          <label for="notes">Notes:</label>
          <input type="text" id="wine-notes" name="wine-notes" value="{{wine_notes}}"/>
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-post-btn">Delete Wine</button>
  </form>
</article>


<script src="/javascript/edit-post.js"></script>
{{!-- <script src="/javascript/delete-post.js"></script> --}}