<div class="container-fluid d-flex justify-content-center">
    <div class="m-4 d-flex flex-column align-items-center wine-view">
      <div d-flex justify-content-center>
        <a href="/dashboard" class="back-to-dash"> &larr; Back to dashboard</a>
      </div>
    
      <div class="card">
        <div class="card-body">
          <form class="edit-wine-form d-flex flex-column align-items-center">
            <div class="row d-flex justify-content-center">
              <div class="wine-name title">
                <input name="wine-name" type="text" placeholder="{{post.wine_name}}" />
              </div>
              <div class="wine-data col">
                <select name="wine-type" id="wine-type" aria-placeholder="{{post.wine_type}}">
                  <option value="">--Please choose an option--</option>
                  <option value="red">Red</option>
                  <option value="white">White</option>
                  <option value="rose">Rose</option>
                  <option value="sparkling">Sparkling</option>
                </select>
                <input type="text" id="wine-vintage" name="wine-vintage" placeholder="{{post.wine_vintage}}"/>
                <input type="text" id="wine-source" name="wine-source" placeholder="{{post.wine_source}}"/>
              </div>
            </div>
            <div class="row d-flex justify-content-center wine-notes mb-4">
              <input type="text" id="wine-notes" name="wine-notes" placeholder="{{post.wine_notes}}"/>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col">
                <button type="submit" >Save</button>
              </div>
              <div class="col">
                <button type="button" class="delete-post-btn">Delete Wine</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>